<h1>Appointments</h1>

<%= form_with(model: [@doctor, @appointment], local: true, class: 'ui form') do |f| %>
  <div class="field">
    <%= f.label :date %>
    <%= f.datetime_field :date, pressence: true %>
  </div>
  <div class="field">
    <%= f.label :type %>
    <%= f.text_field :type, presence: true %>
  </div>
  <br />
</div>
<br />
  <%= f.submit nil, class: "ui blue button" %>
<% end %>

