<h1>Appointments</h1>

<%= form_with(model: [@doctor, @appointment], local: true, class: 'ui form') do |f| %>
  <div class="field">
    <%= f.label :date %>
    <%= f.datetime_field :date, pressence: true %>
  </div>
  <br />
</div>
<div class="field">
<%= f.label :user %>
<%= f.select :user_id, @users.collect { |u| [u.full_name, u.id] } %>
</div>
<br />
  <%= f.submit nil, class: "ui blue button" %>
<% end %>

